set_prop(system_app, dt2w_prop)
binder_call(system_app, storaged)

# Allow system_app to set perf_profile prop
set_prop(system_app, perf_prop)

# Allow system_app to set cabc props
set_prop(system_app, cabc_prop)

# Allow system_app to read fps info node
allow system_app sysfs_fps:dir search;
allow system_app sysfs_fps:file r_file_perms;
